<mat-expansion-panel *ngFor="let course of courses">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{course.name}}
    </mat-panel-title>
    <mat-panel-description>
      {{course.id}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <img src="{{course.imgPath}}"/>
</mat-expansion-panel>
