<app-alert></app-alert>



<div class="container">
  <mat-form-field>
<input id="faculty" type="text" matInput #faculty />
</mat-form-field> 
<button mat-raised-button (click)="getFacultyName(faculty.id)">Get Local Variable</button>  
  <app-course-form (getCourseData)="createCourse($event)"></app-course-form>
  <app-display-course [coursesData]="courses"></app-display-course>

  
</div>