<span *ngFor = "let menu of childMenus">
  <!--<a routerLinkActive="active-menu-link" routerLink={{menu.url}} href="{{menu.url}}">{{menu.display}}</a>-->
      <a routerLinkActive="active-menu-link" [routerLink]=[menu.url] href="{{menu.url}}">{{menu.display}}</a>
</span>