<h1>create Form</h1>
<form #courseForm="ngForm">
  <!-- <div class="form-group">
    <label for="id">ID</label>
    <input type="text" class="form-control" id="id" name="id" [ngModel()]="id">
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" [ngModel()]="name">
  </div>

  <div class="form-group">
    <label for="imgPath">Image Path</label>
    <input type="text" class="form-control" id="imgPath" name="imgPath" [ngModel()]="imgPath">
  </div> -->

  <mat-form-field>
      <input name="id" [(ngModel)]="id" matInput placeholder="Enter ID">
  </mat-form-field>

  <mat-form-field>
      <input name="name" [(ngModel)]="name" matInput placeholder="Enter Name">
  </mat-form-field>

  <mat-form-field>
      <input name="imgPath" [(ngModel)]="imgPath" matInput placeholder="Image Path">
  </mat-form-field>

  <button mat-button type="submit" (click)="createCourse()">Submit</button>

</form>