.spacer{
  flex:1 1 auto;
}
mat-toolbar span a{
  text-decoration: none;
  color: white;
  padding: 5px;
}
mat-toolbar{
  box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

/*box-shadow: 0px 2px 3px black;*/
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header-sidenav {
  padding: 20px;
}