 .example-card {
    width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .align-center{
    text-align:center;
  } 
  /* .input-ng-invalid.ng.touched{
    border:1px solid red;
  } */

  .error-block{
    color:red;
    font:20px;
  }
  /* .ng-invalid.ng.touched{
    border:1px solid red;

  } */