<div class="align-center">
    <h1>User Details Form</h1>
<form [formGroup] = "userDataForm" (ngSubmit) = "submitUserDataForm()">
<div>
    <div formGroupName="userData"><!-- nested Group -->
            <div>
                    <mat-form-field class="example-full-width">
                            <input formControlName="username" name="username" matInput placeholder="username">
                            <mat-error *ngIf="userDataForm.get('userData.username').errors 
                            && userDataForm.get('userData.username').errors['required']">
                                    Username is Mandatory
                            </mat-error>
                            <mat-error *ngIf="(userDataForm.get('userData.username').errors) &&
                            (!userDataForm.get('userData.username').errors['required'] 
                            && userDataForm.get('userData.username').errors['userNameIsAvailable'])">
                                    Username is Already Used
                            </mat-error>
                    </mat-form-field>
            </div>
            <div>
                    <mat-form-field class="example-full-width">
                            <input formControlName="email" name="email" matInput placeholder="email">
                            <mat-error *ngIf="userDataForm.get('userData.email').invalid
                            && userDataForm.get('userData.email').errors['required']">
                                    Email is Mandatory
                            </mat-error>
                            <mat-error *ngIf="(userDataForm.get('userData.email').errors) &&
                            (!userDataForm.get('userData.email').errors['required'] 
                            && userDataForm.get('userData.email').errors['email'])">
                                    Please enter Correct Email-ID
                            </mat-error>
                    </mat-form-field>
            </div>
    </div>
    <div>
            <mat-form-field>
                    <mat-select formControlName="questions" name="questions" placeholder="Questions">
                            <mat-option [value]="'school'">
                                    What is your first school name?
                            </mat-option>
                            <mat-option [value]="'pet'">
                                    What is your first pet name?
                            </mat-option>
                    </mat-select>
            </mat-form-field>
    </div>
    <div>
            <h4>Your Hobbies</h4>
            <button type="button" (click) = "addHobby()" mat-raised-button color="primary">
                    Add Hobbies
            </button>
            <div formArrayName="hobbies">
                    <div *ngFor="let control of userDataForm.get('hobbies').controls; let i = index">
                            <mat-form-field class="example-full-width">
                                    <input formControlName="{{i}}" name="i" matInput placeholder="i">
                            </mat-form-field>
                    </div>
            </div>
    </div>
    <div>
            <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
</div>
</form>
</div>
