<!-- <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile> -->
        <mat-card class="example-card" *ngFor="let course of courses">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{course.name}}</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{course.imgPath}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['../detail',course.id]"
              [queryParams]= "{name: 'java', faculty: 'hohoho'}"
              >View</button>
              <button mat-button>Edit</button>
              <button mat-button>Remove</button>
            </mat-card-actions>
          </mat-card>
    <!-- </mat-grid-tile>
</mat-grid-list> -->
